@font-face {
  font-family: "Bellefair";
  src: url("/fonts/Bellefair-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("/fonts/BarlowCondensed-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Barlow Condensed", sans-serif;
  background-color: #f6f6f6;
}

body {
  width: 100%;
}

.container {
  max-width: calc(100vw - 350px);
  margin-left: auto;
  margin-right: auto;
}

.fluid-image {
  max-width: 100%;
  height: auto;
}

.flex-container {
  display: flex;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }

  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .container {
    max-width: calc(100vw - 100px);
  }
}
