---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Crew Information" page="crew">
  <div class="main">
    <div class="container">
      <h3 class="heading"><strong>02</strong> MEET YOUR CREW</h3>
      <div class="flex-container crew-view">
        <div class="crew-info">
          <h3 id="crew-role">COMMANDER</h3>
          <h3 id="crew-name">DOUGLAS HURLEY</h3>
          <p id="crew-bio">
            Douglas Gerald Hurley is an American engineer, former Marine Corps
            pilot and former NASA astronaut. He launched into space for the
            third time as commander of Crew Dragon Demo-2.
          </p>
          <div class="slider">
            <div class="slider-dot active" data-index="0"></div>
            <div class="slider-dot" data-index="1"></div>
            <div class="slider-dot" data-index="2"></div>
            <div class="slider-dot" data-index="3"></div>
          </div>
        </div>
        <div class="crew-display">
          <img
            class="fluid-image"
            id="crew-image"
            src="/images/crew/image-douglas-hurley.png"
            alt="astronaut"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>

<script>
  import { crew } from "../data.json";

  const crewName = document.getElementById("crew-name");
  const crewRole = document.getElementById("crew-role");
  const crewBio = document.getElementById("crew-bio");
  const crewImage = document.getElementById("crew-image");

  const sliderBtns = document.querySelectorAll(".slider-dot");

  function handleSliderBtnClick(e) {
    const index = +e.target.dataset.index;

    crewName.innerHTML = crew[index].name;
    crewRole.innerHTML = crew[index].role;
    crewBio.innerHTML = crew[index].bio;
    crewImage.setAttribute("src", crew[index].images.png);
    if (!e.target.classList.contains("active")) {
      sliderBtns.forEach((btn) => {
        if (btn.classList.contains("active")) btn.classList.remove("active");
      });
      e.target.classList.add("active");
    }
  }

  sliderBtns.forEach((btn) => {
    btn.addEventListener("click", handleSliderBtnClick);
  });
</script>

<style>
  .main {
    width: 100%;
    min-height: 100vh;
    padding-top: 180px;
    background: url("../images/crew/background-crew-desktop.jpg") no-repeat
      center;
    background-size: cover;
    z-index: -1;
  }

  .heading {
    color: #fff;
    font-size: 1.25em;
    letter-spacing: 3px;
    margin-bottom: 50px;
  }

  .heading strong {
    opacity: 30%;
    margin-right: 10px;
  }

  .crew-info {
    margin-right: 100px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #crew-role {
    font-family: "Bellefair", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #fff;
    opacity: 50%;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  #crew-name {
    color: #fff;
    font-family: "Bellefair", sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 25px;
    text-transform: uppercase;
  }

  #crew-bio {
    color: #d0d6f9;
    line-height: 1.5;
  }

  .crew-display {
    width: 35%;
  }

  .slider {
    display: flex;
    margin-top: 100px;
  }

  .slider-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    opacity: 15%;
    margin: 0 10px;
  }

  .slider-dot.active {
    opacity: 1;
  }

  .slider-dot:hover {
    cursor: pointer;
    opacity: 50%;
  }

  @media (max-width: 768px) {
    .main {
      background-image: url("../images/crew/background-crew-tablet.jpg");
    }

    .crew-view {
      justify-content: center;
    }

    .crew-info {
      text-align: center;
      width: 50%;
      margin-right: 0;
    }

    .slider {
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  @media (max-width: 426px) {
    .main {
      background-image: url("../images/crew/background-crew-mobile.jpg");
      padding-bottom: 50px;
      padding-top: 120px;
    }

    .heading {
      text-align: center;
    }

    .crew-info {
      order: 2;
      width: 100%;
      border-top: 1px solid #d0d6f9;
    }

    .crew-display {
      order: 1;
      width: 60%;
    }

    .slider {
      order: 1;
    }

    #crew-role {
      order: 2;
    }

    #crew-name {
      order: 3;
    }

    #crew-bio {
      order: 4;
    }
  }
</style>
