---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Abyss" page="home">
  <div class="main">
    <div class="flex-container">
      <div class="copy">
        <p class="semi-bold">So, you want to travel to</p>
        <p class="bigBold">SPACE</p>
        <p class="copy-text">
          Let’s face it; if you want to go to space, you might as well genuinely
          go to outer space and not hover kind of on the edge of it. Well sit
          back, and relax because we’ll give you a truly out of this world
          experience!
        </p>
      </div>
      <a href="/destination"><div class="cta-btn">EXPLORE</div></a>
    </div>
  </div>
</Layout>

<style>
  .main {
    width: 100%;
    min-height: 100vh;
    padding-top: 180px;
    background: url("../images/home/background-home-desktop.jpg") no-repeat
      center;
    background-size: cover;
    z-index: -1;
  }

  .flex-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  p {
    color: #d0d6f9;
    max-width: 240px;
  }

  .semi-bold {
    font-size: 1.5em;
  }

  .bigBold {
    font-size: 5em;
    font-family: "Bellefair", sans-serif;
    margin: 15px 0;
    color: #fff;
  }

  a {
    color: #000;
    text-decoration: none;
  }

  .copy-text {
    line-height: 25px;
  }

  .cta-btn {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: "Bellefair", sans-serif;
    font-size: 2em;
    outline: transparent 0;
    transition: outline 0.1s ease-in;
  }

  .cta-btn:hover {
    outline: rgba(255, 255, 255, 0.1) solid 50px;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .main {
      padding-top: 180px;
      padding-bottom: 140px;
      background-image: url("../images/home/background-home-tablet.jpg");
    }

    .flex-container {
      flex-direction: column;
      align-items: center;
    }

    .copy {
      text-align: center;
    }

    p {
      max-width: 300px;
    }

    .bigBold {
      font-size: 6em;
    }

    .cta-btn {
      margin-top: 140px;
    }
  }

  @media (max-width: 426px) {
    .main {
      background-image: url("../images/home/background-home-tablet.jpg");
    }
  }
</style>
